<div>
    <h2 id="page-heading">
        <span jhiTranslate="jemoloApplicationApp.curriculum.home.title">Curricula</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-curriculum" [routerLink]="['/curriculum/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jemoloApplicationApp.curriculum.home.createLabel">
            Create a new Curriculum
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="curricula?.length === 0">
        <span jhiTranslate="jemoloApplicationApp.curriculum.home.notFound">Nessun curiculum trovato</span>
    </div>
    <div class="table-responsive" *ngIf="curricula?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cv"><span jhiTranslate="jemoloApplicationApp.curriculum.cv">Cv</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="note"><span jhiTranslate="jemoloApplicationApp.curriculum.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="candidatoId"><span jhiTranslate="jemoloApplicationApp.curriculum.candidato">Candidato</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="allegatoId"><span jhiTranslate="jemoloApplicationApp.curriculum.attach">Allegato</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="userManagement.createdDate">Data creazione</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lastModifiedBy"><span jhiTranslate="userManagement.lastModifiedBy">Modificato da</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lastModifiedDate"><span jhiTranslate="userManagement.lastModifiedDate">Data ultima modifica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let curriculum of curricula ;trackBy: trackId">
                <td><a [routerLink]="['/curriculum', curriculum.id, 'view' ]">{{curriculum.id}}</a></td>
                <td>{{curriculum.cv}}</td>
                <td>{{curriculum.note}}</td>
                <td>
                    <div *ngIf="curriculum.anagraficaId">
                        <a [routerLink]="['/anagrafica-candidato', curriculum.anagraficaId , 'view' ]" >{{curriculum.anagrafica.nome}} {{curriculum.anagrafica.cognome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="curriculum.allegatoId">
                        <a [routerLink]="['/allegato', curriculum.allegatoId , 'view' ]" >{{curriculum.allegatoId}}</a>
                    </div>
                </td>
                <td>{{curriculum.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{curriculum.lastModifiedBy}}</td>
                <td>{{curriculum.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/curriculum', curriculum.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/curriculum', curriculum.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/curriculum', { outlets: { popup: curriculum.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div [hidden]="curricula?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
