@import '~@angular/material/theming';
@include mat-core();

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-card {
	text-align: left;
	@include mat-elevation(0);
}
.mat-card-header { 
	justify-content: left; 
}
.mat-card-title { 
	vertical-align: middle;
}

.mat-card-actions { text-align: center; }

.material-icons {
  vertical-align: middle;
}
.aligned-with-icon{
    position: absolute;
    margin-top: 2px;
    margin-left: 5px; /* optional */
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}
