<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.creazionescheda.title}">Roster creazione nuova scheda</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.creazionescheda.greeting(${candidato.nominativo})}">
            Gentile utente,
        </p>
        <p th:text="#{email.creazionescheda.messaggio}">
            La informiamo che la sua scheda è stata inserita correttamente.
        </p>
        <p th:text="#{email.creazionescheda.avviso}">
            Email generata automaticamente.
        </p>
        <p>
            <span th:text="#{email.creazionescheda.fine}">Saluti, </span>
            <br/>
            <em th:text="#{email.signature}">Roster.</em>
        </p>
    </body>
</html>
