<div>
    <h2 id="page-heading">
        <span jhiTranslate="jemoloApplicationApp.ambitoCompetenza.home.title">Ambiti Competenze</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ambito-competenza" [routerLink]="['/jemolouser/ambito-competenza/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jemoloApplicationApp.ambitoCompetenza.home.createLabel">
            Crea un nuovo ambito
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="ambitoCompetenzas?.length === 0">
        <span jhiTranslate="jemoloApplicationApp.ambitoCompetenza.home.notFound">No ambitoCompetenzas found</span>
    </div>
    <div class="table-responsive" *ngIf="ambitoCompetenzas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="jemoloApplicationApp.ambitoCompetenza.descrizione">Descrizione</span></th>
            <th scope="col" ><span jhiTranslate="jemoloApplicationApp.ambitoCompetenza.tipo">Tipo</span></th>
            <th scope="col" >Stato</th>
            <th scope="col" ><span jhiTranslate="jemoloApplicationApp.ambitoCompetenza.ambito">Ambito</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ambitoCompetenza of ambitoCompetenzas ;trackBy: trackId">
                <td><a [routerLink]="['/jemolouser/ambito-competenza', ambitoCompetenza.id, 'view' ]">{{ambitoCompetenza.id}}</a></td>
                <td>{{ambitoCompetenza.descrizione}}</td>
                <td>{{ambitoCompetenza.tipo}}</td>
                <td>{{ ambitoCompetenza.stato }}</td>
                <td>
                    <div *ngIf="ambitoCompetenza.ambitoId">
                    	{{ambitoCompetenza.ambitoId}}: 
                        <a [routerLink]="['/jemolouser/ambito-competenza', ambitoCompetenza.ambitoId , 'view' ]" >
                        {{ambitoCompetenza.ambito.descrizione}}
                        </a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/jemolouser/ambito-competenza', ambitoCompetenza.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/jemolouser/ambito-competenza', ambitoCompetenza.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/jemolouser/ambito-competenza', { outlets: { popup: ambitoCompetenza.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
