@import '~@angular/material/theming';

.mat-card {
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
	@include mat-elevation(0);
}
.mat-card-header { justify-content: left; };
/*.mat-card-title {   
	display: flex;
    align-items: center;
};*/
.aligned-with-icon{
    position: absolute;
    margin-top: 0px;
    margin-left: 5px; /* optional */
}
.mat-card-title { 
	vertical-align: middle;
	font-size: 1.4em;
}
.material-icons {
  vertical-align: middle;
}
